<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
  </head>
  <body>



<nav>
    <div class="container">
      <div class="grid">

        <div class="column-xs-12 column-md-2">
          <ul>
            <li><a href="/index.html" class="active">Index</a></li>
            <li><a href="/works.html" class="active">Work</a></li>
            <li><a href="/about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <section class="gallery">
    <div class="container">
      <div class="grid">
        <div class="column-xs-12 column-md-4">
          <figure class="img-container">
            <img src="/1.jpg" />
           
            <span class="img-content-hover">
              <h2 class="title">Brendan Eich</h2>
              <h3 class="category">Brave browser inventor</h3>
            </span>
          </figure>
        </div>
        <div class="column-xs-12 column-md-4">
          <figure class="img-container">
            <img src="/2.jpeg" />
            <figcaption class="img-content">
              <h2 class="title">JavaScript</h2>
              <h3 class="category">Created in 1995</h3>
            </figcaption>

          </figure>
        </div>
        <div class="column-xs-12 column-md-4">
          <figure class="img-container">
            <img src="/3.png">
            <figcaption class="img-content">
              <h2 class="title">Give me 2 hours</h2>
              <h3 class="category">And I'll give you a language</h3>
            </figcaption>
          </figure>
        </div>

        <div class="column-xs-12 column-md-6">
          <figure class="img-container">
            <img src="/4.jpeg" />
          </figure>
        </div>

        </div>
      </div>
    </div>
  </section>

  <footer>

  </footer>

</body>
</html>
